<form #registrationForm="ngForm">
    <div class="row mar-top-20">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <div class="section">

                <h4 class="text-center hborder">Change Password</h4>
                <div class="row" *ngIf="ErrorMessage !=''">
                    <div class="col-lg-12">
                        <div class="text-center errMsg">{{ErrorMessage}}</div>
                    </div>
                </div>
                <div class="row mar-top-20" *ngIf="isPasswordChanged">
                    <div class="col-lg-12">
                        <div class="success-msg">
                            <h2>Password Changed Successfully.</h2>
                            <div>Click here to <a [routerLink]="['/login/Login']">Login</a></div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!isPasswordChanged">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="UName">User Name:</label>
                            <input type="text" class="form-control" name="UName"
                                pattern="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{6,15})" required
                                [(ngModel)]="UserName" #UName="ngModel" placeholder="Enter User Name">
                            <div [hidden]="UName.valid || UName.pristine" class="errormsg">
                                User Name is required
                            </div>
                            <div [hidden]="UName.valid || UName.pristine || !UserName" class="errormsg">
                                Enter Valid User Name
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="oldPass">Old Password:</label>
                            <input type="password" class="form-control" [(ngModel)]="oldPassword"
                                placeholder="Enter old Password" name="oldPass" required #oldPass="ngModel">
                            <div [hidden]="oldPass.valid || oldPass.pristine || oldPassword" class="errormsg">
                                Old Password is required
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="Password">New Password:</label>
                            <input type="password" class="form-control" [(ngModel)]="NewPassword"
                                placeholder="Enter New Password" name="Password"
                                pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,30})" required
                                #Password="ngModel">
                            <div [hidden]="Password.valid || Password.pristine || NewPassword" class="errormsg">
                                Password is required
                            </div>
                            <div [hidden]="Password.valid || Password.pristine || !NewPassword" class="errormsg">
                                Password Should be Combination of alphabets,numbers and a special character, Must
                                contain one capital letter
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="ConfirmPass">Confirm Password:</label>
                            <input type="password" class="form-control" [(ngModel)]="ConfirmPassword"
                                placeholder="Enter Confirm New Password" name="ConfirmPass" validateEqual="Password"
                                required #ConfirmPass="ngModel">
                            <div [hidden]="ConfirmPass.valid || ConfirmPass.pristine || ConfirmPassword"
                                class="errormsg">
                                Confirm Password is required
                            </div>
                            <div [hidden]="ConfirmPass.valid || ConfirmPass.pristine || !ConfirmPassword"
                                class="errormsg">
                                Confirm Password should Match with Password
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!isPasswordChanged">
                    <div class="col-lg-12">
                        <div class="form-group text-center">
                            <button type="submit" name="Save" (click)="ChangeUserPassword()"
                                [disabled]="!registrationForm.form.valid"
                                [ngStyle]="{'background-color':!registrationForm.form.valid?'#CCC':'#007bff'}"
                                class="btn btn-primary mar-top-20">Change</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
        </div>
    </div>
</form>