.section {
    padding: 10px;
    border: 1px solid #000;
}

.errormsg {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.success-msg {
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
    padding: 12px;
}
.success-msg a {
    color:#fff !important;
    text-decoration: underline;
}